@media (max-width: 768px){ /* se estipula el tamaño que debe considerar para aplicar los estilos siguientes*/

  a{ /*se da un display none para que el menu en desktop se oculte en el tamaño mobile*/
    display: none;
  }

  .logo{
    font-size: 20px;
    height: 70px;
    width: 60px;
  }

  .info{ /*se cambia el tamaño cuando el screen es menor*/
    width: calc(100% - 20px);
  }

  #principal{
    height: 200px;
  }

  .products{ /*se cambia el tamaño cuando el screen es menor*/
    width: calc(100% - 20px);
  }

    #more{ /*se hace visible el icono que hace cambio con el menu inicial*/
    color:  #4fad52;
    display: inline-block;
  }
}
